<nav>
  <ul>
    <a href="/"><i class="fas fa-home"></i> Horeca Dating</a>
    <div class="account-management">
      <a href="/myaccount"><i class="fas fa-user"></i> Mijn account</a> <p></p> <p>|</p> <p></p> 
      <a href="/log-out">Log uit</a>
    </div>
  </ul>
</nav>
