*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

form {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  background-color: lightgrey;
  text-align: center;
}

label {
  display: block;
  width: 100%;
}
input {
  width: 100%;
}

.btn {
  width: 95%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1em;
  background-color: yellow;
  border-radius: 3px;
  border: none;
  font-size: 24px;
  padding: 10px;
}
