*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 80%;
  margin: 8em auto;
}

a {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 1em 0;
}

h2 {
  margin-top: 1em;
}

p {
  margin-top: 1em;
}

.img-container {
  width: 300px;
  height: 300px;
  line-height: 300px;
  background-color: white;
  text-align: center;
  margin: 1em auto;
}

.img-container img {
  max-width: 300px;
  max-height: 300px;
  vertical-align: middle;
}

.smallimg-container {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.smallimg-container img {
  max-height: 150px;
  max-width: 150px;
  vertical-align: middle;
}
/* --- Form ---
Everything styled for the forms
*/

form {
  background-color: #228ae6;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 5em;
}

form p {
  text-align: left;
  font-weight: 500;
}

.error, .loginerror{
  text-align: center;
  color: #e66a22;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #e66a22;
}

.loginerror {
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
}

form h3 {
  border-top: 1px solid white;
  padding: 10px;
  margin-top: 1em;
}

.firstForm {
  display: block;
}

.secondForm {
  display: block;
}

fieldset {
  border: none;
  margin: 0 auto;
}

label {
  display: block;
  width: 100%;
  margin-top: 1em;
  text-align: left;
  font-weight: 500;
}
input {
  width: 100%;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  height: 48px;
  padding: 0 18px;
  color: white;
  outline: none;
}

textarea {
  resize: none;
  width: 100%;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 10px 18px;
  color: white;
  outline: none;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.btn {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1em;
  background-color: #e66a22;
  border-radius: 3px;
  border: none;
  font-size: 24px;
  padding: 10px;
  color: white;
}

.btn:hover {
  background-color: rgba(230, 106, 34, 0.9);
  border: 0;
}

nav ul{
  width: 80%;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.radiobuttons p, .field p {
  display: block;
  text-align: left;
  background-color: transparent;
  color: white;
  border: 0px;
  padding: 0;
}

.radiobuttons, .checkboxes {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 0 0 10px 0;
  margin-top: 0;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.radiobuttons input[type=radio], .checkboxes input[type=checkbox] {
  display: none;
}

.radiobuttons label, .checkboxes label {
  text-align: center;
  display: inline-block;
  background-color: rgba(230, 106, 34, 0.9);
  border-radius: 3px;
}

.radiobuttons label {
  width: 8em;
  padding: 20px;
  margin: 1em 2em 0 2em;
}

.checkboxes label {
  width: 60px;
  padding: 20px 10px;
  margin: 1em 2px 0 2px;
}

.radiobuttons input[type=radio]:checked + label, .checkboxes input[type=checkbox]:checked + label {
  border: 2px solid rgba(255, 255, 255, 0.9);
  background-color: #e66a22;
}

.field {
  display: flex;
  justify-content: space-around;
  max-width: 250px;
  margin: 0 auto;
  align-items: baseline;
  margin-top: -1em;
}

.field label {
  width: 5em;
}

.field label input {
  text-align: center;
}

.field p {
  margin-top: 0;
}



/* --- detail page ---
  Everything styled for the detailspage for each person
*/

.detail-container {
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 0 auto;
}

/* --- header ---
  Everything styled for the header.
*/

nav ul a {
  color: white;
}

nav {
  width: 100%;
  background-color: #228ae6;
  box-shadow: 0 2px 1px #777;
  position: fixed;
  top: 0;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 1em;
}

.list-container a {
  color: black;
}

.list-result {
  margin: 1em;
  box-shadow: 0 2px 1px #777;
  padding: 10px;
  background-color: white;
}

.account-management a {
  display: inline-block;
}

.account-management p {
  display: inline-block;
  color: white;
}

@media (min-width: 300px) {
  body {
    background-color: #228ae6;
  }
  form {
    width: 100%;
  }
  fieldset {
    width: 90%;
  }
  .btn {
    width: 85%;
  }
  a {
    color: white;
  }

}

@media (min-width: 700px) {
  body {
    background-color: #fcfcfc;
  }
  form {
    width: 80%;
    padding: 30px;
    max-width: 700px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  }
  fieldset {
    width: 80%;
  }
  .btn {
    width: 76.5%;
  }
  a {
  color: #228ae6;
  }
}
