<% include partials/head.ejs %>
<% include partials/header.ejs %>

<main>
  <h2>Welkom <%= user.firstname %></h2>

  <a href="/mymatches">Bekijk welke personen bij jou passen!</a>
  <h3>Jouw chats:</h3>
</main>
