<% include partials/head.ejs  %>
<main>
  <h3>Oeps een error:</h3>
  <img src="/image/<%= error.code %>.png" alt="Can't find image">
  <p> <%= error.code %></p>
  <p> <%= error.details %></p>

  <a href="/">Keer terug naar hoofdpagina.</a>
</main>
