<%- include('head.ejs') %>

<form class="" action="/" method="get">

  <fieldset>
    <p>Log in:</p>

    <label>Naam:</label>
    <input type="text" name="name" value="">
    <label>Password:</label>
    <input type="password" name="password" value="">

    <input class="btn" type="submit" name="submit" value="Meld je aan">

    <br>
    <a href="registration">Meld je aan bij Horeca Dating</a>
  </fieldset>
</form>

<%- include('tail.ejs') %>
