<%- include('head.ejs') %>

<form class="" action="/" method="post">

  <fieldset>
    <p>Meld je aan bij Horeca Dating:</p>

    <label>Naam:</label>
    <input type="text" name="name" value="">
    <label>Password:</label>
    <input type="password" name="password" value="">

    <input class="btn" type="submit" name="submit" value="Meld je aan">

    <br>
    <a href="#">Al een account? Log dan hier in.</a>
  </fieldset>
</form>

<%- include('tail.ejs') %>
