<%- include('head.ejs') %>

<form class="" action="/" method="post">
  <fieldset>
  <label>Voornaam: <input name="firstname"></label>
  <label>Achternaam: <input name="lastname"></label>
  <label>Leeftijd: <input type="number" name="age"></label>
  <label>Email: <input name="email"></label>
  <label>Kies een wachtwoord: <input type="password" name="password"></label>
  <input type="submit" class="btn" value="Registreer!">
  </fieldset>
</form>

<%- include('tail.ejs') %>
